langchain
langchain_text_splitters
langchain_community
langchain_core
langgraph
langchain_openai
langchain_google_genai
langchain_groq
python-dotenv
langchain_anthropic
langchain_google_vertexai
pydantic
ipython
ddgs
langchain-tavily
openai
langsmith
sentence-transformers
ipykernel
pandas
torch
streamlit
pymupdf
qdrant-client